<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="xipton.razor.config" type="Xipton.Razor.Config.XmlConfigurationSection, Xipton.Razor" />
	</configSections>
	<xipton.razor.config>
		<xipton.razor>
			<references>
				<clear />
				<add reference="mscorlib.dll" />
				<add reference="System.dll" />
				<add reference="System.Core.dll" />
				<add reference="Microsoft.CSharp.dll" />
				<add reference="*.dll" />
				<add reference="*.exe" />
			</references>
		</xipton.razor>
	</xipton.razor.config>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>